.header {
  height: 8vh;
}

.row-content {
  overflow: hidden;
  background-attachment: fixed !important;
  background-image: url('white-cloud-blue-sky.jpg');
  height: 92vh;
  /* height: 100%; */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow-y: auto;

}

.wrap-card {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  min-width: 200px;
  max-height: 271px;
  height: 80%;
  width: 60%;
  -webkit-box-shadow: 0 6px 28px 0px black;
  -moz-box-shadow: 0 6px 28px 0px black;
  box-shadow: 0 6px 28px 0px black;
  background-color: rgb(255, 255, 255, .4) !important;
  border-radius: 10px;
  margin: 0 !important;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  height: 80%;
  font-family: cursive;
  font-size: 1.5rem;
}

.card-header {
  color: black;
  direction: rtl;
  font-weight: bold;
  font-size: 1.3rem;
  border: none;
}

.card-body {
  padding: 0.5rem
}

.card-title {
  color: black;
  direction: rtl;
  font-size: 1rem;
  padding-right: 13px;
  padding-bottom: 13px;
}

.font-text {
  font-family: cursive;
}

.card-text {
  color: black;
  direction: rtl;
}

p {
  text-align: center;
}

.free_text {
  font-weight: bold;
  font-size: 0.8rem;
}

.card-body {
  padding: 0.5rem
}

.data-weather {
  font-size: 1.8vw;
}

svg {
  float: left
}

.wrapper-temp {
  display: flex;
  justify-content: center;
}
/* .wrap-list{
  overflow-y: auto;
} */